body {
    width: 100vw;
    height: 100vh;
    background-color: #282c34!important;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none!important;
    color: #ffffff!important;
}

.centar {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    width: 100vw;
    height: 60px;
    background-color: #20232a;
    color: #ffffff;
}

.menu {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#menuLogo img {
    max-height: 50px;
}

#menuLogo span {
    height: 100%;
    font-family: 'Brush Script MT', cursive;
    font-size: xx-large;
}

.menu nav {
    min-width: 60%;
}

.menu nav a {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu nav a:hover {
    background-color: #61DAFB;
}

.cover {
    min-width: 100%;
    height: 100vh;
    /* background-image: url("../img/kb3.jpg"); */
}

#phoneMenu a:hover {
    background-color: #61DAFB;
}

@media only screen and (max-width: 500px) {
    .menu > nav {
        display: none;
    }

    #menuLogo span {
        font-size: x-large;
    }
}

